:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    text-align: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
}

nav ul li a {
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    width: 100%;
    height: auto;
}

.hero article img {
    position: absolute;
    float: right;
    width: 150px;
}

.hero article h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.7;
    background-color: var(--accent-color);
    color: white;
    /* white text - make sure there is enough contrast with the background-color */
}

.socialmedia a {
    text-decoration: none;
    box-sizing: border-box;
    width: 15%;
}