nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

main img {
    width: 250px;
    height: auto;
}

h1 {
    color: darkblue;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 250px;
    height: auto;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    background-color: darkblue;
    color: yellow;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}