* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {

    background-color: darkblue;
    color: yellow;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid black;

}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px grey;
}

section {
    margin: 20px 0;
    border: 1px solid rgb;
    padding: 10px;
    background-color: lightgreen;
    font-size: 1.0rem;
}

section p {
    Margin: 10px;
}

ul {
    margin: 20px 30px 0;
}

footer {
    font-size: 1.25rem;
}